
# OpenAI API 配置
OPENAI_API_KEY="sk-xxx"
OPENAI_BASE_URL="https://coding.dashscope.aliyuncs.com/v1"
# MODEL_NAME="qwen-coder-turbo"
MODEL_NAME="qwen3.5-plus"


# OpenAI 兼容协议：https://coding.dashscope.aliyuncs.com/v1
# Anthropic 兼容协议：https://coding.dashscope.aliyuncs.com/apps/anthropic


EMBEDDINGS_API_KEY="sk-xxx"
EMBEDDINGS_MODEL_NAME="text-embedding-v3"
EMBEDDINGS_BASE_URL="https://dashscope.aliyuncs.com/compatible-mode/v1"

# Milvus 向量数据库配置
MILVUS_URL="localhost:19530"
MILVUS_USERNAME=""
MILVUS_PASSWORD=""

# 高德地图 API 配置 (Web服务)
AMAP_API_KEY="your_amap_api_key"


# path
ALLOWED_PATHS="/Users/cloudyan/data/code/agents/ai-agent-course-code/tool-test"
